:root {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

body {
  background-color: black;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

section {
  margin: 0 48px;
}

h3 {
  font-size: 4rem;
  text-align: center;
}

.content {
  display: flex;
  justify-content: space-evenly;
}

img {
  aspect-ratio: 1/1;
  object-fit: contain;
  width: 30%;
}

.content p {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
    justify-content: center;
    margin: 0 48px;
    width: 50%;
}

a {
  color: #FFFFFF;
}

a:hover {
  opacity: .7;
}

.article {
  max-width: 600px;
}

.active {
  background-color: #FFFFFF;
  color: #000;
}

.pagination {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: 48px;
}

.pagination-button {
  cursor: pointer;
  font-size: 2rem;
  width: 44px;
}

.pagination-button:hover {
  opacity: .7;
}

.pagination-count {
  border: 1px solid #ffffff;
  border-radius: 10px;
  font-size: 3rem;
  text-align: center;
  width: 48px;
}